<h3>Filiais</h3>

<% if @subsidiaries.empty? %>
  <p>Não existem filiais cadastradas no sistema</p>
<% end %>

<%= link_to 'Registrar nova filial', new_subsidiary_path %><br/><br/>

<% @subsidiaries.each do |subsidiary| %>
  <li><%= link_to subsidiary.name, subsidiary_path(subsidiary) %></li>
<% end %>