<h3>Carros Cadastrados</h3>

<% if @cars.empty? %>
  <p>Não existem carros cadastrados no sistema</p>
<% end %>

<%= link_to 'Registrar novo carro', new_car_path %><br/><br/>

<% @cars.each do |car| %>
  <li><%=  %></li>
<% end %>