<% if @manufacturer.errors.any? %>
  <p>Você deve corrigir os seguintes erros:</p>
  <ul>
    <% @manufacturer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>